@charset "utf-8";
.clocktime{
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.center-align {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center-align .name__input {
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}
.center-align .name__input::placeholder {
    color: white;
    opacity: 0.7;
    text-align: center;
}

.center-align .name__input:focus,
.center-align .name__input:active {
    outline: none;
    
}

.greetings {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.center-align .name {
  margin-bottom: 30px;
}
